<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Account Info</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
   </head>
   <body>
    
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">계정 정보</div>
      <div class="account-container">
         <ul>
            <li>사용자 이름: <span th:utext="${#request.userPrincipal.name}"></span></li>
            <li>
               	역할:
               <ul>
                  <li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
               </ul>
            </li>
         </ul>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>